* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.02);
}

.centered_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_container {
    width: 100%;
    height: 100%;
}

#login_container {
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

    flex-direction: column;

    background-color: white;
}

#login_container #main_container {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main_container #login_label {
    font-size: 28px;
}

#main_container #register_hint_label {
    font-size: 14px;
}

#main_container #register_portal {
    text-decoration: none;
}

#register_portal:hover {
    text-decoration: underline;
}

#main_container .input_container {
    position: relative;
}

#main_container .input_box {
    outline: none;

    padding: 10px;
    width: 100%;

    font-size: 16px;
}

#main_container #email_input_requirement, #password_input_requirement {
    position: absolute;
    color: red;
}

#main_container #login_button_container {
    display: flex;
    justify-content: end;
}

#main_container #login_button {
    user-select: none;
    cursor: pointer;

    color: white;
    text-align: center;
    font-size: 18px;
    font-family: monospace;

    padding: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;

    background: #e74c3c;

    transition: box-shadow 0.2s;
}

#main_container #login_button:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

#main_container #back_button_container {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 20px;
    align-self: flex-start;
}

#main_container #back_button {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: monospace;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;

    background: #7f8c8d; 
    transition: box-shadow 0.2s;
    text-decoration: none; 
}

#main_container #back_button:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    background: #95a5a6; 
}

/* for small/vertical devices */
@media screen and (max-width: 768px) {
    #login_container {
        max-width: 800px;
        max-height: 800px;
    }

    #login_container #main_container {
        width: 80%;
    }
}