body {
  overflow: auto;
}
.bottom-navi-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 20%;
  z-index: 1000;
  font-size: 100%;
}
.nav-item {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-item img {
  font-size: 1em;
  margin-bottom: 4px;
}

.menu-item-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 85%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
}

#Title {
  text-align: center;
  top: 10px; 
  font-size: 4em;
  position: absolute; 
}
.menu-item {
  display: grid;
  grid-template-areas: 
  "title  img "
  "desc  img "
  "price img ";
  grid-template-columns: 1fr auto minmax(150px, auto); /* Added this to define column widths; adjust as needed */
  position: static;
  height: 30%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  align-self: center;
  border-bottom: 1px solid #eee;
  border-top-style: hidden;
  
}
.menu-item div{
  padding: 3px;
}
.menu-item-img{
  grid-area: img;
}
.menu-item-title{
  grid-area:title;
}
.menu-item-desc{
  grid-area: desc;
}
.menu-item-price{
  grid-area: price;
}
.menu-item-img img{
  border-radius: 8px;
  width: 20vw; /* Use viewport width for scaling on different screen sizes */
  height: auto; /* Preserve aspect ratio */
  max-width: 300px

}