.bottom-navi-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff; 
  border-top: 1px solid #eee; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  height: 20%; 
  z-index: 1000;

}
.nav-item{
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-item img {
  font-size: 24px;
  margin-bottom: 4px;
}