* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.02);
}

.centered_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_container {
    width: 100%;
    height: 100%;
}

#register_container {
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 700px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

    flex-direction: column;

    background-color: white;
}

#register_container #main_container {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main_container #register_label {
    font-size: 28px;
}

#main_container #login_hint_label {
    font-size: 14px;
}

#main_container #login_portal {
    text-decoration: none;
}

#register_portal:hover {
    text-decoration: underline;
}

#main_container .input_container {
    position: relative;
}

#main_container .input_box {
    outline: none;

    padding: 10px;
    width: 100%;

    font-size: 16px;
}

#main_container #email_input_requirement, #password_input_requirement, #name_input_requirement, #address_input_requirement {
    position: absolute;
    color: red;
}

#main_container #register_button_container {
    display: flex;
    justify-content: end;
}

#main_container #register_button {
    user-select: none;
    cursor: pointer;

    color: white;
    text-align: center;
    font-size: 18px;
    font-family: monospace;

    padding: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;

    background: #e74c3c;

    transition: box-shadow 0.2s;
}

#main_container #register_button:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

/* for small/vertical devices */
@media screen and (max-width: 768px) {
    #register_container {
        max-width: 800px;
        max-height: 800px;
    }

    #register_container #main_container {
        width: 80%;
    }
}