/*tablet and small desktop size*/
@media only screen and (min-width:430px) and (max-width:1200px){
  .bottom-navi-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 15%;
  z-index: 1000;
  font-size: 100%;
}
.nav-item {
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-item h1 {
  font-size: 1em;
  margin-bottom: 4px;
}

.top-title {
  height: 10%;
  width: 100%;
  position:sticky;
  top:0;
  border-bottom: #333 1px solid;
}
.top-title h1 {
  text-align: center;
  font-size: 2em;
  margin: 10px 0;
}
.restaurantListContainer {
  height: 75%;
  overflow-y: auto;
  width: 100%;
}
}
/*mobile size*/
@media only screen and (max-width:430px)and (min-width:320px){
  
 body {
  overflow: auto;
}
.bottom-navi-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 15%;
  z-index: 1000;
  font-size: 100%;
}
.nav-item {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-item h1 {
  font-size: 30px;
  margin-bottom: 4px;
}

}

/*Desktop size*/
@media only screen and (min-width:1201px){
.bottom-navi-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 10%;
    z-index: 1000;
    font-size: 100%;
    }


.nav-item {
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-item h1 {
  font-size: 30px;
  margin-bottom: 4px;
}
}